.OrderSummaryRow{
    display: flex;
    justify-content: space-between;
    #tax{
        font-size: 16px;
    }
    #finalTotal{
        font-weight: bold;
        font-size: 20px;
        color: black;
        margin: 25px 0px;
    }
    #discount{
        color: red;
        font-weight: bold;
    }
}