.ProductRow{
    background-color: #F4F6F9;
    box-shadow: 4px 2px 5px 0px #ccc;
    padding: 15px;
    margin: 20px 0px;
    .CartRow{
        display: flex;
        align-items: center;
        border-radius: 5px;
        width: 100%;
        justify-content: space-around;
        .ProductImage{
            flex: 1;
        }
        .AboutCartProduct{
            flex: 3;
            .DeleteButton{
                background: white;
                border: none;
                outline: none;
            }
            .QuantitySpan{
                margin: 0px 30px;
                font-weight: bold;
            }
            .fa-plus-circle{
                color: #083685;
                cursor: pointer;
            }
            .fa-minus-circle{
                color: #083685;
                cursor: pointer;
            }
        }
    
        .PriceTag{
            flex: 1;
            text-align: end;
            .PriceSpan{
                color: red;
                font-weight: bolder;
                font-size: 22px;
            }
        }
    }
    .FinalPrice{
        display: flex;
        justify-content: space-between;
    }
}