.Cart{
    display: flex;
    min-height: 100vh;
    .ProductList{
        width: 68vw;
        background-color: white;
        margin: 20px auto;
        font-family: muli, sans-serif;
        padding: 20px;
        border-radius: 5px;
        .ProductList{
            padding: 10px 20px;
        }
    }
}