.Cart{
    width: 1000px;
    background-color: #F3F3F3;
    margin: 20px auto;
    font-family: muli, sans-serif;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    .ProductList{
        padding: 10px 20px;
    }
}