.CheckoutTotal{
    height: max-content;
    line-height: 30px;
    width: 28vw;
    margin: 20px auto;
    font-family: muli, sans-serif;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;


}